@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

@mixin flex($flex-direction, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}
body {
    color: var(--dark-blue);
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

:root {
/*primary*/
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
/*neutral*/
    --gray-blue: hsl(233, 8%, 62%);
    --light-gray-blue: hsl(220, 16%, 96%);
    --light-gray: hsl(0, 0%, 98%);

    --fs: 18px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
}
h1 {
    font-weight: var(--fw-300);
    font-size: 3rem;
}
h2 {
    font-weight: var(--fw-400);
    font-size: 3rem;
}
h3 {
    text-transform: capitalize;
}
p {
    line-height: 20px;
    font-weight: var(--fw-300);
    padding: 2rem 0;
}
.article {
    margin-bottom: 3rem;
}
/*Header*/

header {
    position: relative;
    height: 80px;
    z-index: 9999;
    background-color: #fff
}
.inner-header {
    @include flex(row, space-around);
    height: 100%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.logo {
   flex: 1;
   float: left;
}
.navigation {
    align-items: center;
    flex: 2;
}
.nav-btn {
    flex: 1;
    align-items: flex-end;
}
.nav-btn a {
    float: right;
}
.navigation ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.navigation ul a {
    color: var(--gray-blue);
    position: relative;
}
.navigation ul a:hover {
    color: var(--dark-blue);
}
<<<<<<< Updated upstream
.navigation ul a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -30px;
    background-image: linear-gradient(to right, var(--lime-green) , var(--bright-cyan) 50%);
    background-size: 300%;
    animation: animatedGradient 3s ease-in-out alternate infinite;
}
@keyframes animateGradient {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 200%;
    }
    100% {
        background-size: 600%;
    }
=======
.navigation ul a:hover::before{
    position: absolute;
    content: "";
    bottom: -30px;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-image: linear-gradient(to right, var(--lime-green) , var(--bright-cyan) 50%);
    background-size: 300%;
    animation: animatedgradient 3s ease alternate infinite;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
>>>>>>> Stashed changes
}

/* Main */
.main-wrapper{ 
    width: 100%;
    // height: 800px;
}
.main-inner {
    position: relative;
    display: flex;
}
.text-side {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem;
    flex: 42.5%;
}

.images-side {
    height: 600px;
    background-image: url(./images/bg-intro-desktop.svg);
    background-position: top right; 
    background-size: 100%;
    background-repeat: no-repeat;
    flex: 57.5%;
    position: relative;
    top: -80px;
    right: -80px;
}
.images-side img {
    width: 100%;
    min-width: 500px;
    max-width: 750px;
}
.reasons {
    background-color: var(--light-gray);
    margin: 1.5rem 0 ;
}
.inner-reasons,.inner-articles  {
    width: 90%;
    margin: 3rem auto;
    padding: 4rem 0;
}

.reasons-cards {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.reasons-card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

//article
.articles-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
.article-text {
    background: rgb(39, 82, 79);
    padding: 4rem 1rem;
    color: #fff;
    margin-top: -4px;
    address {
        margin-top: -2rem;
        padding-bottom: 1rem;
        font-size: 13px;
    }
}
.article-card img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
footer {
    height: 230px;
    background: var(--dark-blue);
}
.inner-footer {
    width: 90%;
    margin: 0%;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100%;
}
.inner-footer > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 1rem;
}


/* Button */
.request-invite-btn {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-size: 200% auto;
    text-transform: capitalize;
    width: 150px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .5s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    color: #fff;
}
.request-invite-btn {
    background-image: linear-gradient(to right, var(--lime-green) , var(--bright-cyan) 50%);
}
.request-invite-btn:hover { 
    background-position: right center;
}